*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}
header{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    flex-direction: row;
}
.ham {
    margin-top: 10px;
    
}
.log {
    margin-top: 10px;
    
    
}
.mic {
    margin-top: 12px;
    
}
.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    width: 500px;
  }
  
  .search-input {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  
  .search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #F0F0F0;
  }

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
}

.seperator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.thumbnail1{
    background-color: white;
    width: 25%;
}
a{
    color: black;

  text-decoration: none;
}
#tt{
  margin-top: 10px;
}
#ryt{
    display: flex;
    padding-top: 70px;
    padding-left:20px;
    padding-right:20px;
    width:100%;
    gap: 10px;
}
#ryu{
    display: flex;
    padding-left:20px;
    padding-right:20px;
    width:100%;
    gap: 10px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }